<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Componentes Electronicos | Jhonatan's E-shopping Website</title>
    <!-- css styles-->
    <link rel="preload" as="style" th:href="@{/assets/css/columns-system.css}">
    <link rel="stylesheet" th:href="@{/assets/css/columns-system.css}">
    <link rel="preload" th:href="@{/assets/css/main.css}" as="style">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
</head>

<body>
    <!-- replaces the element for the fragment template code -->
    <header th:replace="~{fragments/navigation-menu :: navigation-menu}"></header>
    <main>
        <section class="products container">
            <!-- show this block only if the list has no products -->
            <div class="alert alert-success" th:if="${#lists.isEmpty(products)}">
                <p>
                    Por el momento no tenemos productos disponibles. ¡Pero pronto tendremos novedades!
                </p>
            </div>

            <!-- show the list if there are products in the list -->
            <ul th:if="${products != null and #lists.size(products) > 0}" id="product-list" class="product-list row" role="list">
                <li th:each="product : ${products}" class="product-list-item col-6 col-md-4 col-lg-4 col-xl-4 col-xxl-3">
                    <article class="product-outer-box">
                        <a class="product_img_link" th:href="@{|/product-details?id=${product.id}|}">
                            <img class="product-img-pict" th:src="${product.image_url}" th:alt="${product.image_alt}">
                        </a>
                        <div class="product-information-box">
                            <div class="sticker-box">
                                <span class="sticker-text">
                                    En stock
                                </span>
                            </div>
                            <div class="product-list-reference">SKU: [[${product.sku}]]</div>
                            <h3 class="product-title-box">
                                <a class="product-title-link" th:href="@{|/product-details?id=${product.id}|}" th:text="${product.name}"></a>
                            </h3>
                            <span class="product-current-price" aria-label="precio-actual">$ [[${product.price}]]</span>
                        </div>
                        <div class="act-box-card">
                            <a class="add_to_cart_btn" href="#">Añadir al carrito</a>
                        </div>
                    </article>
                </li>
            </ul>
        </section>
    </main>
    <script defer th:src="@{/assets/js/navigation-menu.js}"></script>
</body>

</html>